body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 34px;
}
.name-highlight{
    color: coral;
}
.first-half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-half image{
    width: 100%;
}
.top-banner{
    background-image: url(images/backk.png.jpg);
    background-repeat: no-repeat;

}
.ancor-button{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    background-image: linear-gradient(45deg,lightgreen,green);
    padding: 7px 15px;
    border-radius: 5px;

}
.second-half{
    width: 40%;
    float: none;
    margin-left: 6%;
    margin-bottom: 5%;
    padding-left: 5%;
}
.second-half image{
    width: 30%;
}
.second-bck{
    background-image: url(images/backk.png.jpg);
    background-repeat: no-repeat;
    background-position: 0%;

}